<h1>Edit your profile <%= @user.first_name %></h1>
<div class="container">
  <div class="card-product-edit">
  <div>
    <!-- <img src="<#%= cl_image_path @user.photo  %>"> -->

  </div>

        <%= simple_form_for(@user) do |f| %>
          <div>
            <%= f.input :first_name %>
          </div>

          <div>
            <%= f.input :last_name %>
          </div>

          <div>
            <%= f.input :email %>
          </div>


          <div>
            <%= f.input :description %>
          </div>

          <div>
            <%= f.input :skill_level %>
          </div>

          <div>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>

          <div>
            <%= f.button :submit %>
          </div>
        <% end %>
    </div>
  </div>
