<div class="container" style="background-color:white;">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
      <div class="profile-details" style="background-color:white;padding:20px;">
        <%= image_tag "#{@user.photo}", class: "avatar-profile" %>
        <h2><%= @user.first_name %> <%= @user.last_name %></h2>
        <p><%= @user.email %></p>
        <p><%= @user.description %></p>

        <%= link_to "Edit", edit_user_path, class: "btn-sec-s" %>

        <%= link_to "Delete", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete #{@user.first_name} #{@user.last_name}?" }, class: "btn btn-flat" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="row">
          <div class="col-xs-3 col-xs-offset-2">
            <div class="statistics">
              <%= image_tag "skill-level.png" %>
              <div class="statistics-text">
                <h2><%= @user.skill_level %></h2>
                <h5>skill level</h5>
              </div>
            </div>
          </div>
          <div class="col-xs-3 col-xs-offset-2">
            <div class="statistics">
              <%= image_tag "gamesplayed.png" %>
              <div class="statistics-text">
                <h2>350</h2>
                <h5>games</h5>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12">
        <div class="partner-table">
          <%= image_tag "mostplayed.png" %>
          <div class="statistics-text">
            <h5>top partners</h5>
          </div>
          <div class="table-most-played-with">
            <p>1.</p>
            <img class="avatar" alt="avatar" src="https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg" />
            <p><%= @user.first_name %> <%= @user.last_name %></p>
            <p> 500 </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--       <div class="user-stats" style="background-color:white;">
        <h2>Number of games played</h2>

      </div> -->
