
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="footer-item">
          <%= image_tag "court_outline_footer.png", height: 70 %>
          <h1>Make your<br>tennis club<br>social again.</h1>
          <div class="footer-copyright">
          © by the clubhouse
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="footer-item">
          <div class="list-footer">
            <ul>
              <li><%= link_to "JOIN GAME", join_game_path %></li>
              <li><%= link_to "GAMES", games_path %></li>
              <li><%= link_to "EVENTS", events_path %></li>
              <li><%= link_to "YOUR PROFILE", "#" %></li>
              <li><%= link_to "EVENTS", "#" %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="footer-item">
          <div class="footer-address">
            <p><strong>All England Lawn Tennis Club</strong> <br>Church Rd, Wimbledon, London SW19 5AE <br>+43 2314 23412 <br>allengland@tennis.co.uk</p>
          </div>
          <div class="footer-links">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
