<div class="navbar-wagon">


  <!-- Left Navigation -->
  <div class="navbar-wagon-left hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "JOIN GAME", join_game_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "GAMES", games_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "EVENTS", events_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo_white_transp.png", height: 50 %>
  <% end %>

  <div>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>

      <!-- Logo -->
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo_white_transp.png", height: 50 %>
      <% end %>

      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

<div class = "nav-clubhaus">
  <% if user_signed_in? %>

  <!-- Links when logged in -->
  <div class="clubhaus-nav-right">
    <%= link_to "JOIN GAME", join_game_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "GAMES", games_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "EVENTS", events_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

  <!-- Logo centered -->
  <div class="clubhaus-logo">
    <%= link_to root_path do %>
    <%= image_tag "logo_white_transp.png", height: 50 %>
    <% end %>
  </div>

  <div class="clubhaus-nav-left">
    <div class="dropdown">
      <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <% else %>

    <!-- Logo -->
  <div class="clubhaus-logo">
    <%= link_to root_path do %>
    <%= image_tag "logo_white_transp.png", height: 50 %>
    <% end %>
  </div>

  <!-- Login link (when logged out) -->
  <div class="clubhaus-nav-left">
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "nav-clubhaus-item nav-clubhaus-link" %>
  </div>
  <% end %>
</div>

