<div class="tabs-games">
<!-- Tab links -->
  <div class="tabs-underlined">
    <button class="tablinks" onclick="openGame(event, 'schedule')"><h4>YOUR SCHEDULE</h4></button>
    <button class="tablinks" onclick="openGame(event, 'join')"><h4>JOIN A GAME
    </h4></button>
    <button class="tablinks" onclick="openGame(event, 'watch')"><h4>WATCH GAMES</h4></button>
  </div>

  <!-- Tab content -->
  <div id="schedule" class="tabcontent">
    <% if @user.games == nil %>
      <p>You have no games scheduled.<br>Join a game<br>or<br>open a game request and <%= link_to "find a partner", new_game_path %>.</p>
    <% else %>
      <%= @all_joins %>
    <% end %>
    <br>
    <%= link_to 'show all'  %>
  </div>

  <div id="join" class="tabcontent">
    <% if @all_joins == nil %>
      <p>There are no available games to join.<br>Be the first one to open a game request and <%= link_to "find a partner", new_game_path %>.</p>
    <% else %>
      <% @all_joins.each do |game| %>
        <div class="card-court">
            <div class="bottom-border"></div>
             <div class="court-date">
               <p><%= game.date.day %>.<%= game.date.month %>.<%= game.date.year %></p>
               <p><%= game.time.hour %>h<%= game.time.min %></p>
             </div>
             <div class="court-player-left">
              <table>
                <tr>
                  <td>
                    <img class="avatar" alt="avatar" src="<%= game.host.photo %>"/>
                  </td>
                  <td>
                    <p><%= game.host.first_name %><br><%= game.host.last_name %></p>
                  </td>
                </tr>
                <% if game.game_type == "Doubles" %>
                  <tr>
                    <td>
                      <%= link_to "join game", class: "btn-prim-s" %>
                    </td>
                  </tr>
                <% end %>
              </table>
             </div>
             <div class="skill-level-badge skill-level-position">
               <p><%= game.skill_level %></p>
               <h5>itn</h5>
             </div>
             <div class="court-player-right">
              <table>
                <tr>
                  <td>
                    <%= link_to "join game", class: "btn-prim-s" %>
                  </td>
                </tr>
                <% if game.game_type == "Doubles" %>
                  <tr>
                    <td>
                      <%= link_to "join game", class: "btn-prim-s" %>
                    </td>
                  </tr>
                <% end %>
              </table>
             </div>
        </div>
      <% end %>

    <% end %>
    <br>
    <%= link_to 'show all'  %>
  </div>

  <div id="watch" class="tabcontent">
    <% if @user.games == nil %>
      <p>There are games to watch.<br>Be the first one to<%= link_to "find a partner", new_game_path %><br> and give your club members something to watch.</p>
    <% else %>
      <%= @user.games %>
    <% end %>
    <br>
    <%= link_to 'show all'  %>
  </div>
</div>


