<div class="tabs-games">
<!-- Tab links -->
  <div class="tabs-underlined">
    <button class="tablinks" onclick="openGame(event, 'schedule')"><h4>YOUR SCHEDULE</h4></button>
    <button class="tablinks" onclick="openGame(event, 'join')"><h4>JOIN A GAME
    </h4></button>
    <button class="tablinks" onclick="openGame(event, 'watch')"><h4>WATCH GAMES</h4></button>
  </div>

  <!-- Tab content -->
  <div id="schedule" class="tabcontent">
    <% if @games == [] %>
      <div class="text-content-no-games">
        <p>You have no games scheduled.<br>Join a game<br>or<br>open a game request and <%= link_to "find a partner", new_game_path %>.</p>
      </div>
    <% else %>
      <% @games[0..2].each do |game| %>
        <div class="card-court">
          <div class="bottom-border"></div>
          <div class="court-date">
            <p><%= game.date.day %>.<%= game.date.month %>.<%= game.date.year %></p>
            <p><%= game.time.hour %>h<%= game.time.min %></p>
          </div>
          <div class="court-player-left">
            <table>
              <tr>
                <td>
                  <img class="avatar" alt="avatar" src="<%= game.host.photo %>"/>
                </td>
                <td>
                  <p><%= game.host.first_name %><br><%= game.host.last_name %></p>
                </td>
                </tr>
                <% if game.game_type == "Doubles" %>
                  <tr>
                    <% if game.users.second == nil %>
                      <td>
                        <%= image_tag "avatar-unknown.png" %>
                      </td>
                    <% else %>
                      <td>
                        <img class="avatar" alt="avatar" src="<%= game.users.second.photo %>"/>
                      </td>
                      <td>
                        <p><%= game.users.second.first_name %><br><%= game.users.second.last_name %></p>
                      </td>
                    <% end %>
                  </tr>
                <% end %>
            </table>
          </div>
          <div class="skill-level-badge skill-level-position">
            <p><%= game.skill_level %></p>
            <h5>itn</h5>
          </div>
          <div class="court-player-right">
            <table>
              <tr>
                <% if game.users.first == nil %>
                  <td>
                    <%= image_tag "avatar-unknown.png" %>
                  </td>
                <% else %>
                  <td>
                    <img class="avatar" alt="avatar" src="<%= game.users.first.photo %>">
                  </td>
                  <td>
                    <p><%= game.users.first.first_name %><br><%= game.users.first.last_name %></p>
                  </td>
                <% end %>
              </tr>
              <% if game.game_type == "Doubles" %>
                <tr>
                  <% if game.users.third == nil %>
                    <td>
                      <%= image_tag "avatar-unknown.png" %>
                    </td>
                  <% else %>
                    <td>
                      <img class="avatar" alt="avatar" src="<%= game.users.third.photo %>"/>
                    </td>
                    <td>
                      <p><%= game.users.third.first_name %><br><%= game.users.third.last_name %></p>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          </div>
          <% if  game.host == current_user%>
            <div class="host-buttons">
              <%= link_to edit_game_path(game) do %>
                <i class="far fa-edit"></i>
              <% end %>
              <%= link_to game_path(game), method: :delete, data: {confirm: "Are you sure you want to delete this game?" } do %>
                <i class="fas fa-ban"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <div class="tabs-show-link">
      <%= link_to 'your profile',  user_path(current_user)  %>
    </div>
  </div>

  <div id="join" class="tabcontent">
    <% if @joins == [] %>
      <div class="text-content-no-games">
        <p>There are no available games to join.<br>Be the first one to open a game request and<br><%= link_to "find a partner", new_game_path %>.</p>
      </div>
    <% else %>
      <% @joins[0..2].each do |game| %>
        <div class="card-court">
            <div class="bottom-border"></div>
             <div class="court-date">
               <p><%= game.date.day %>.<%= game.date.month %>.<%= game.date.year %></p>
               <p><%= game.time.hour %>h<%= game.time.min %></p>
             </div>
             <div class="menue-top-right dropdown">
              <% if game.additional_info = [] %>

              <% else %>
               <%= image_tag "add_info.png", height: "25px", class: "dropdown-toggle", id: "nav-clubhaus-menu", "data-toggle" => "dropdown" %>
                <ul class="dropdown-menu dropdown-menu-right nav-clubhaus-dropdown-menu">
                  <p>
                    <%= game.additional_info %>
                  </p>
                </ul>
              <% end %>
              <%= image_tag "more_menue_cards.png", height: "5px" %>
             </div>
             <div class="court-player-left">
              <table>
                <tr>
                  <td>
                    <img class="avatar" alt="avatar" src="<%= game.host.photo %>"/>
                  </td>
                  <td>
                    <p><%= game.host.first_name %><br><%= game.host.last_name %></p>
                  </td>
                </tr>
                <% if game.game_type == "Doubles" %>
                  <tr>
                    <td>
                      <%= image_tag "avatar-unknown.png" %>
                    </td>
                  </tr>
                <% end %>
              </table>
             </div>
             <div class="skill-level-badge skill-level-position">
               <p><%= game.skill_level %></p>
               <h5>itn</h5>
             </div>
             <div class="court-player-right">
              <table>
                <tr>
                  <td></td>
                  <td>
                    <%= link_to "Join", new_game_participation_path(game), class:"btn-prim-s"%>
                  </td>
                </tr>
                <% if game.game_type == "Doubles" %>
                  <tr>
                    <td></td>
                    <td>
                      <%= image_tag "avatar-unknown.png" %>
                    </td>
                  </tr>
                <% end %>
              </table>
             </div>
        </div>
      <% end %>
    <% end %>
    <div class="tabs-show-link">
      <%= link_to 'show all', join_game_path  %>
    </div>
  </div>

  <div id="watch" class="tabcontent">
    <% if @watches == [] %>
      <div class="text-content-no-games">
        <p>There are no games to watch.<br>Be the first one to <%= link_to "find a partner", new_game_path %><br>and give your club members something to watch.</p>
      </div>
    <% else %>
    <% @watches[0..2].each do |game| %>
    <div class="card-court">
      <div class="bottom-border"></div>
      <div class="court-date">
        <p><%= game.date.day %>.<%= game.date.month %>.<%= game.date.year %></p>
        <p><%= game.time.hour %>h<%= game.time.min %></p>
      </div>
      <div class="court-player-left">
        <table>
          <tr>
            <td>
              <img class="avatar" alt="avatar" src="<%= game.host.photo %>"/>
            </td>
            <td>
              <p><%= game.host.first_name %><br><%= game.host.last_name %></p>
            </td>
          </tr>
          <% if game.game_type == "Doubles" %>
            <tr>
              <% if game.users == nil %>
                <td>
                  <%= image_tag "avatar-unknown.png" %>
                </td>
              <% else %>
                <td>
                  <img class="avatar" alt="avatar" src="<%= game.users.first.photo %>"/>
                </td>
                <td>
                  <p><%= game.users.first.first_name %><br><%= game.users.first .last_name %></p>
                </td>
              <% end %>
            </tr>
          <% end %>
        </table>
       </div>
       <div class="skill-level-badge skill-level-position">
         <p><%= game.skill_level %></p>
         <h5>itn</h5>
       </div>
       <div class="court-player-right">
        <table>
          <tr>
            <td>
              <img class="avatar" alt="avatar" src="<%= game.users.first.photo %>"/>
            </td>
            <td>
              <p><%= game.users.first.first_name %><br><%= game.users.first.last_name %></p>
            </td>
          </tr>
          <% if game.game_type == "Doubles" %>
            <tr>
              <td>
                <img class="avatar" alt="avatar" src="<%= game.users.third.photo %>"/>
              </td>
              <td>
                <p><%= game.users.third.first_name %><br><%= game.users.third.last_name %></p>
              </td>
            </tr>
          <% end %>
        </table>
       </div>
     </div>
     <% end %>
     <% end %>
    <div class="tabs-show-link">
      <%= link_to 'show all', games_path  %>
    </div>
  </div>
</div>


