<!--WEATHER & NEWS BAR-->
<div class="info-bar">
  <div class="date">
    <p><%= Date.today.to_s(:long) %></p>
  </div>
  <div class="weather">
    <%= image_tag "cloud.svg", height: 45 %>
  </div>
  <div class="weather">
    <p>22°C, mostly sunny</p>
  </div>
  <div class="court-info">
    <%= image_tag "tennis-court.svg", height: 45 %>
  </div>
  <div class="court-info">
    <p>all courts open</p>
  </div>
</div>

<!--HELLO SECTION-->
<div class="hello-section">
  <% if Time.zone.now.hour >= 6.00 && Time.zone.now.hour <= 10.30 %>
    <h1>Good morning <%= @user.first_name %>,</h1>
    <h2>another great day <br> to play tennis.</h2>
  <% elsif Time.zone.now.hour >= 10.31 && Time.zone.now.hour <= 16.30%>
    <h1>Hi <%= @user.first_name %>,</h1>
    <h2>you could still <br> play tennis today.</h2>
  <% elsif Time.zone.now.hour >= 16.31 && Time.zone.now.hour <= 18.30%>
    <h1>Good evening <%= @user.first_name %>,</h1>
    <h2>it might be a bit late today<br>but tomorrow is another great day to play.</h2>
  <% else %>
    <h1>Yo <%= @user.first_name %>,</h1>
    <h2>Can't sleep? <br> Better go play tennis tomorrow.</h2>
  <% end %>
  <%= link_to "find a partner", new_game_path, class: "btn-prim" %>
</div>

<!--TABS GAMES-->
<div class="tabs-games">
  <ul class="list-inline tabs-underlined">
    <li>
      <a href="#" class="tab-underlined active">YOUR SCHEDULE</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">JOIN A GAME</a>
    </li>
    <li>
      <a href="#" class="tab-underlined">WATCH GAMES</a>
    </li>
  </ul>

  <div class = "tabs-games-find">
    <% if @user.games == nil %>
      <p>You have no games scheduled.<br>Join a game<br>or<br>open a game request and <%= link_to "find a partner", new_game_path %>.</p>
    <% else %>
      <%= @user.games %>
    <% end %>
  </div>
</div>


<!--HEADERS, TEXT, LINKS-->
<div class="container">
  <h1>This is an h1</h1>
  <h2>This is an h2</h2>
  <h3>This is an h3</h3>
  <h4>This is an h4</h4>
  <h5>This is an h5</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ut   veniam explicabo ipsa optio, vitae dolorum nisi vel libero laboriosam   nulla facilis dolor provident, non ipsam error ullam porro asperiores!</p>
  <a>a link</a>

<!--BUTTONS-->
  <a href="#" class="btn-prim">btn-prim</a>
  <a href="#" class="btn-sec">btn-sec</a>

  <a href="#" class="btn-prim-s">btn-prim-s</a>
  <a href="#" class="btn-sec-s">btn-sec-s</a>

<!--AVATARS-->
  <img class="avatar" alt="avatar" src="  https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg" />

  <img class="avatar-large" alt="avatar" src="  https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg" />

<!--CARD FOR LISTS-->
  <div class="card-list">
    <div class="card-avatar">
      <div class="avatar-batch">
        <img class="avatar-large" alt="avatar" src="https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg" />
        <div class="skill-level-badge-position skill-level-badge">
          <p>5-6</p>
          <h5>itn</h5>
        </div>
        <div class="card-specifications">
          <h3>Single</h3>
          <h4>19.5.2018 at 17h00</h4>
          <h5>with Dominik Thiem</h5>
        </div>
      </div>
    </div>
    <div class="card-spots">
      <h4>1 / 2</h4>
    </div>
    <div>
      <a href="#" class="btn-prim-s">join</a>
    </div>
  </div>

  <br>
  <br>
  <br>

<!--CARD COURTS-->

  <br>
  <br>
  <br>

  <div class="card-court">
    <div class="bottom-border"></div>

     <div class="court-date">
       <p>17.2.2019</p>
       <p>17h00</p>
     </div>

     <div class="court-player-left">
      <table>
        <tr>
          <td>
            <img class="avatar" alt="avatar" src="https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg"/>
          </td>
          <td>
            <p>Roger<br>Federer</p>
          </td>
        </tr>
        <tr>
          <td>
            <img class="avatar" alt="avatar" src="       https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg"/>
          </td>
          <td>
            <p>Roger<br>Federer</p>
          </td>
        </tr>
      </table>
     </div>

     <div class="skill-level-badge skill-level-position">
       <p>5-6</p>
       <h5>itn</h5>
     </div>

     <div class="court-player-right">
      <table>
        <tr>
          <td>
            <img class="avatar" alt="avatar" src="https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg"/>
          </td>
          <td>
            <p>Roger<br>Federer</p>
          </td>
        </tr>
        <tr>
          <td>
            <img class="avatar" alt="avatar" src="https://www.fm1today.ch/2019/03/20190302172247798-640x640.jpg"/>
          </td>
          <td>
            <p>Roger<br>Federer</p>
          </td>
        </tr>
      </table>
     </div>
  </div>

</div>

















