<h1>This is the page where your join games will go</h1>

<div class="something">
  <% @games.each do |game| %>
    <div class="soemthing">
      <%= game.date %>
      <%= game.time %>
      <%= game.game_type %>
      <%= game.skill_level %>
      <%= game.additional_info %>
      <%= link_to "Join", root_path %>
    </div>
  <% end %>
</div>
