<h1>Edit</h1>
<p>Redirect to the Modal(with details already entered)</p>

<div class="container">
  <div class="card-product-edit">
    <%= simple_form_for(@game) do |f| %>
      <%= f.input :date %>
      <%= f.input :time, as: :time, minute_step: 15 %>
      <%= f.input :additional_info %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
