<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3"> -->
    <div class="relative-wizard">
      <div class="wizrd-card">
        <div class="wizard-card-header">
            <%= image_tag "mostplayed.png" %>
            <h2>Additional Info</h2>
            <%= image_tag "mostplayed.png" %>
        </div>
          <%= simple_form_for @game, wrapper_html: { class: 'width-100' }, url: wizard_path, method: :put do |f| %>
          <div class="wizard-card-item-no-padding">
            <%= f.input :additional_info, label: false, wrapper_html: { class: 'width-100' } %>

            <%= f.submit 'Continue', class: "btn-sec-s" %>
          </div>

          <% end %>

            <%= link_to previous_wizard_path do %>
              <i class="fas fa-chevron-left"></i>
            <% end %>

      </div>
    </div>
<!--     </div>
  </div>
</div> -->
