
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3"> -->
      <div class="relative-wizard">
        <div class="wizrd-card">
          <div class="wizard-card-header">
              <%= image_tag "mostplayed.png" %>
              <h2>Review</h2>
              <%= image_tag "mostplayed.png" %>
          </div>

          <div class="review-sec">
            <div class="review-sec-item">
              <p>Game Type: </p><h4> <%= @game.game_type %></h4>
            </div>
            <div class="review-sec-item">
              <p>Skill Level: </p><h4> <%= @game.skill_level %></h4>
            </div>
            <div class="review-sec-item">
              <p>Date: </p><h4> <%= @game.date.to_time.strftime("%A %d %Y") %> <%= @game.time.strftime("at %I:%M%p") %></h4>
            </div>
            <div class="review-sec-item">
              <p>Add Info: </p><h4> <%= @game.additional_info %></h4>
            </div>

          </div>

          <div class="review-button">
            <%= link_to "edit", previous_wizard_path %>
            <%= simple_form_for @game, url: wizard_path, method: :put do |f| %>
              <%= f.input :review, as: :hidden %>
              <%= f.submit 'Confirm', class: 'btn-prim-s' %>
            <% end %>
          </div>
        </div>
      </div>
<!--     </div>
  </div>
</div> -->
