<h1>Review</h1>


<%= simple_form_for @game, url: wizard_path, method: :put do |f| %>
  <%= f.input :review, as: :hidden %>
  <h2>Game Type:</h2> <%= @game.game_type %>
  <h2>Skill Level:</h2> <%= @game.skill_level %>
  <h2>Date:</h2> <%= @game.date %> <%= @game.time %>
  <h2>Add Info:</h2> <%= @game.additional_info %>
  <br>
  <%= f.submit 'Confirm' %>
  <%= link_to "Back", previous_wizard_path %>

<% end %>
