
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
      <div class="wizard-card">
        <div class="wizard-card-header">
            <%= image_tag "mostplayed.png" %>
            <h2>Review</h2>
            <%= image_tag "mostplayed.png" %>
        </div>
          <%= simple_form_for @game, url: wizard_path, method: :put do |f| %>
          <%= f.input :review, as: :hidden %>
          <!-- <div class="wizard-card-item"> -->
            <h3>Game Type:</h3> <%= @game.game_type %>
            <h3>Skill Level:</h3> <%= @game.skill_level %>
            <h3>Date:</h3> <%= @game.date %> <%= @game.time %>
            <h3>Add Info:</h3> <%= @game.additional_info %>
            <br>
            <%= f.submit 'Confirm' %>
          <!-- </div> -->

          <% end %>

        <%= link_to "Back", previous_wizard_path %>
      </div>
    </div>
  </div>
</div>
